<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('waveType') }}</label>
        <div class="controls">
			<select data-bind="options: waveType, optionsText: 'name', optionsValue: 'value', value: waveType"></select>
        </div>
    </div>
</form>